.Blogtitle {
    color: rgb(107, 100, 100);
    border-bottom-color: rgb(202, 199, 199) !important;
    font-size: small;

}

.blogbutton {
    background-color: hsl(170deg 25% 95%);
    color: #57adce;
    border: 2px solid #57adce;
    font-size: small;
    font-weight: 700;
    min-width: 50px;
    min-height: 30px;
    border-radius: 3px;
}


.data-grid td {
    max-width: 100px;
    font-size: small;
    /* border-bottom-color: transparent; */
    border-bottom-width: 0px;
    font-weight: 600;
    color: #57adce;
}

.data-grid td:nth-last-child(1) {
    color: gray;
}

.data-grid td:nth-last-child(3) {
    color: #717a7b;
}

.data-grid td:nth-child(2) {
    font-weight: bold;
}

.data-grid input {
    font-size:medium
}

.dropbutton .btn-primary{
    background-color: #fff !important;
    border: 1px solid #6c757d!important;
    color:#212529 !important;
}

@media screen and (max-width:900px) {
    .inputflex {
        display: flex;
        justify-content:flex-start !important;
    }
}

@media screen and (max-width:800px) {
    .blogrow3 {
        display:initial !important;
    }
    .blogrow3 > div {
        margin: 10px;
        margin-left: 0;
    }
}